@use "../../../../styles/shared/variables" as *;
@use "../../../../styles/shared/mixins" as *;

.hero {
  position: relative;
  width: 100%;
  @include hero-height;
  overflow: hidden;
}

.heroInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  @include hero-bg-image;
}

@include mobile-down {
  .hero {
    height: 50vh;
    min-height: 300px;
    max-height: 400px;
  }
}
